.addIcon {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  width: 375px;
}
.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newIcons {
  display: flex;
  gap: 35px;
  align-items: center;
  margin-top: 20px;

  & svg {
    cursor: pointer;
  }
  & :nth-child(odd) {
    position: relative;
    top: 30px;
  }
}



