.wrapper {
  display: flex;
  flex-direction: column;
  padding: 14px 20px 22px 14px;
  width: 288px;
  margin-left: 24px;
  margin-right: 24px;
  height: 72px;
  background: #fcfcfd;
  border: 1px solid #eae9f0;
  box-shadow: 0px 25px 40px -10px rgba(0, 0, 0, 0.06);
  border-radius: 18px;
}

.sumsWrapper {
  display: flex;
  justify-content: space-between;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
}

.diagram {
  margin-top: 15px;
  width: 286px;
  height: 8px;
  display: flex;
}

.expensesContainer {
  max-height: 300px;
  overflow-y: scroll;
}
// categories colours

.transport {
  height: 8px;
  background-color: red;
}

.auto {
  height: 8px;
  background-color: green;
}
