.wrapper {
  display: flex;
}
.dateContainer {
}

.icon {
}

.customSelect {
  display: flex;
  position: relative;

  //   flex-direction: row;
  //   align-items: flex-start;
  //   padding: 12px;
  //   gap: 46px;

  //   max-height: 248px;
  //   background: #ffffff;
  //   border-radius: 6px;
  //   & select {
  //     display: none;
  //   }
}
