.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input {
      font-family: "DM Sans", sans-serif;
      width: 303px;
      border: 1px solid #f1f1fa;
      border-radius: 16px;
      padding: 13px;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      &:focus {
        outline: none;
      }
    }
  }
  .dropDown {
    position: relative;
  }

  .field {
    position: relative;

    i {
      position: absolute;
      right: 21px;
      bottom: 7px;
      font-size: 22px;
      cursor: pointer;
      color: #91919f;
    }
  }
  
  .select {
    //   position: relative;
    cursor: pointer;
    padding: 12px 16px;
    //   TODO think of less width
    width: 300px;
    height: 56px;
    background: #ffffff;
    border: 1px solid #f1f1fa;
    border-radius: 16px;
  }
  
  .selectedCategory {
    padding: 12px 16px;
    height: 21px;
    width: 300px;
    background: #ffffff;
    border: 1px solid #f1f1fa;
    border-radius: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    gap: 7px;
    align-items: center;

    .selectedCategoryIcon {
      i {
        background: #f2f2f2;
        border-radius: 5px;
        padding: 3px;

        // &:hover {
        //   transform: scale(1.3);
        //   transition: transform .15s;
        // }
      }
      &:hover {
        transform: scale(1.3);
        transition: transform .15s;
      }
    }
  }
  
  .fieldWrapper {
    position: relative;

    svg {
      position: absolute;
      right: 16px;
      bottom: 6px;
    }
  }
  
  .button {
    font-family: inherit;
    cursor: pointer;
    background-color: #0077ff;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    border: none;
    padding: 8px;

    &[disabled] {
      cursor: default;
      background-color: #4099ff;
    }
  }
  