@import "../styles/variables.scss";

.container {
  padding: 44px 16px;
}
.errorMessage {
  color: red;
}

.rememberMe {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;

  & input[type="checkbox"] {
    accent-color: $purple;
  }
}
.formWrapper {
  & input:not([type="checkbox"]) {
    width: 303px;
    height: 56px;
    border: 1px solid #f1f1fa;
    border-radius: 16px;
    padding: 13px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
    &:focus {
      outline: none;
    }
  }
  & svg {
    position: absolute;
    top: 27px;
    right: 22px;
    cursor: pointer;

    &:hover path {
      stroke: black;
    }
  }
}
.button {
  margin-top: 15px;
  padding: 8px;
  width: 343px;
  height: 56px;
  left: 16px;
  background: $purple;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.field {
  position: relative;
  border: none;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #7f3dff;
}
.signUpContainer {
  margin-top: 38px;
  text-align: center;
  color: #91919f;
}
