.wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 1rem;
  gap: 15px;
}
.dateContainer {
  display: flex;
}

.icon {
}

.customSelect {
  display: flex;
  position: relative;
}

.filtersBtn {
  height: 32px;
  background: #eee5ff;
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #7f3dff;
  border: none;
  cursor: pointer;
}
