.innerContainer {
  display: flex;
  gap: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button {
  font-family: inherit;
  font-size: 16px;
  border: 0;
  outline: none;
  background-color: inherit;
  padding: 8;
}

.icon {
  width: 12px;
  height: 12px;
}

.list {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  gap: 20px;
  max-height: 80px;
  border-radius: 0px 0px 3px 3px;
  overflow-y: scroll;

  & ::-webkit-scrollbar {
    width: 2px;
    background-color: red;
    // background: #1f1f1f;
    opacity: 0.2;
    border-radius: 8px;
  }
}

.listItem {
  list-style: none;
  font-size: 12px;
  line-height: 100%;
  cursor: pointer;

  &:hover {
    color: #176af6;
  }
}
