/* #root {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
} */

#root {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  background: #fcfcfd;
  border-radius: 12px;
  padding: 14px 20px;
}
